{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Netflex | Check Out</title>
	<link rel ="icon" href ="{% static 'images/nicon.png' %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="main-layout">
	<header>
		<!-- header inner -->
		<nav class="navbar navbar-expand-lg" style="background-color: #070100;">
			<a class="navbar-brand" href="/logged/{{customer_id}}">
				<img src="{% static 'images/logo.png' %}" alt="logo">
			</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link" style="color: #858383;"
						href="/logged/{{customer_id}}">HOME<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					<a class="nav-link" style="color: #858383;"
						href="/store_login/{{customer_id}}">MOVIES</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" style="color: #858383"
						href="/library/{{customer_id}}">LIBRARY</a>
					</li>
				</ul>					
				<div class="form-inline my-2 my-lg-0">
                    <a href="{% url 'home' %}" class="btn btn-danger">Logout</a>
                 
                    <a href="/cart/{{customer_id}}">
                        <img  id="cart-icon" src="{% static 'images/cart.png' %}">
                    </a>
                </div>					
			</div>
		</nav>
	</header>
	<!-- end header --> 

	<div class="container">
		<br>
		<div class="container" style= "margin-top: 70px" align = 'center'>
			<img src="{% static 'images/checkmark.gif' %}" width="100">
				<br>
				<br>
			<h1 style="color: #77b43f;" >Payment Successful</h1>
			<h3 style="color: #393a38;">Enjoy your movie!</h3>
				<br>
			<a class="nav-link" style="color: #599ac5;" href="/library/{{customer_id}}" >←LIBRARY</a>
		</div>
	</div> 

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
	</body>
</html>      
{% endblock content %}