<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Netflex | Sign up</title>
	<link rel ="icon" href ="{% static 'images/nicon.png' %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	
</head>
<body class="main-layout">
	<header>
		<!-- header inner -->
		<nav class="navbar navbar-expand-lg" style="background-color: #070100;">
			<a class="navbar-brand" href="{% url 'home' %}">
				<img src="{% static 'images/logo.png' %}" alt="logo">
			</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link" style="color: #858383;"
						href="{% url 'home' %}">HOME<span class="sr-only">(current)</span></a>
					</li>

					<li class="nav-item">
					<a class="nav-link" style="color: #858383;"
						href="/store/">MOVIES</a>
					</li>				
				</ul>
				<div class="form-inline my-2 my-lg-0">
					<li class="nav-item">
						<a class="nav-link" style="color: #858383;"
							href="/sign_up/">SIGN UP</a>
					</li>
					<a href="/login/" class="btn btn-danger">LOGIN</a>		
				</div>
			</div>
		</nav>
	</header>
			<!-- end header --> 

<!---------------เริ่มตรงเน้ -------------------->			
<!--ภาพพื้นหลัง -->
<div class="picbg">       

<br>
<br>
<form method="POST">
	{% csrf_token %}
	<div class="container">
		<div class="row">
			<div class=" col-md-6 offset-md-3">
				<div class="address">
					<form>
						<div class="row">							
							<div class="ovarlay_slide_cont">								
								<h1 style="color: #ffffff" ><b><big>Sign up</big></b></h1>
								<br>
								<div class="col-sm-12">
									<input required class="contactus" placeholder="First Name" type="text" name="first_name" id="txt_first_name">
								</div>
								<div class="col-sm-12">
									<input required class="contactus" placeholder="Last Name" type="text" name="last_name" id="txt_last_name">
								</div>
								<div class="col-sm-12">
									<input required class="contactus" placeholder="Phone" type="text" name="phone_number" id="txt_phone_number">
								</div>								
								<div class="col-sm-12">
									<input required class="contactus" placeholder="Email" type="text" name="email" id="txt_email">
								</div>
								<div class="col-sm-12">
									<input required class="contactus" placeholder="Password" type="password" name="password" id="txt_password">
								</div>
								<div class="d-flex justify-content-center mt-3 login_container btn-lg " >
									<input class="send" type="submit" value="Sign up">
								</div>
								<br>
								<p class="m-b-0 m-t">Already signed up? 
									<a href="/login/"  style="color: rgb(255, 31, 31);">Login here</a>.</p>

							</div>
						</div>
					</form>
					<br>
				</div>
			</div>
		</div>
	</div>
</form>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>
